
BootcampApi/Domain/obj/Debug/net8.0/refint/Domain.dll
BootcampApi/Domain/obj/Debug/net8.0/ref/Domain.dll
BootcampApi/Domain/obj/Debug/net8.0/Domain.sourcelink.json
BootcampApi/Domain/obj/Debug/net8.0/Domain.pdb
BootcampApi/Domain/obj/Debug/net8.0/Domain.dll
BootcampApi/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
BootcampApi/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
BootcampApi/Domain/bin/Debug/net8.0/Domain.pdb
BootcampApi/Domain/bin/Debug/net8.0/Domain.dll
BootcampApi/BootcampApi/obj/Debug/net8.0/refint/Bootcamp.Api.dll
BootcampApi/BootcampApi/obj/Debug/net8.0/ref/Bootcamp.Api.dll
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.sourcelink.json
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.pdb
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.dll
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.csproj.AssemblyReference.cache
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.AssemblyInfoInputs.cache
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.AssemblyInfo.cs
BootcampApi/BootcampApi/obj/Debug/net8.0/apphost.exe
BootcampApi/BootcampApi/bin/Debug/net8.0/Domain.pdb
BootcampApi/BootcampApi/bin/Debug/net8.0/Domain.dll
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Service.pdb
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Service.dll
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Repository.pdb
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Repository.dll
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Api.pdb
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Api.exe
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Api.dll
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/refint/Bootcamp.Service.dll
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/ref/Bootcamp.Service.dll
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.sourcelink.json
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.pdb
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.dll
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.csproj.AssemblyReference.cache
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.AssemblyInfoInputs.cache
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.AssemblyInfo.cs
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Domain.pdb
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Domain.dll
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Bootcamp.Service.pdb
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Bootcamp.Service.dll
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Bootcamp.Repository.pdb
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Bootcamp.Repository.dll
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/refint/Bootcamp.Repository.dll
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/ref/Bootcamp.Repository.dll
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.sourcelink.json
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.pdb
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.dll
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.csproj.AssemblyReference.cache
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.AssemblyInfoInputs.cache
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.AssemblyInfo.cs
BootcampApi/Bootcamp.Repository/bin/Debug/net8.0/Domain.pdb
BootcampApi/Bootcamp.Repository/bin/Debug/net8.0/Domain.dll
BootcampApi/Bootcamp.Repository/bin/Debug/net8.0/Bootcamp.Repository.pdb
BootcampApi/Bootcamp.Repository/bin/Debug/net8.0/Bootcamp.Repository.dll
BootcampApi/.vs/BootcampApi/v17/DocumentLayout.json
BootcampApi/.vs/BootcampApi/v17/.suo
BootcampApi/.vs/BootcampApi/FileContentIndex/e31f8043-9c86-41e7-a6fe-f66a2c3d8367.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/da94f67f-0a35-4337-9e36-a37a79bd3097.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/d52a4620-8d8c-4ce0-bc1c-5b881be05cd2.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/afb34e62-551f-4db0-8b8e-fbf86239abfd.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/9610c135-f510-4132-8f29-eeec6c11758e.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/6922fc06-b237-4032-9d59-27f2d1f8c65b.vsidx
BootcampApi/.vs/BootcampApi/DesignTimeBuild/.dtbcache.v2
BootcampApi/.vs/BootcampApi/DesignTimeBuild/.dtbcache.v2
BootcampApi/.vs/BootcampApi/FileContentIndex/6922fc06-b237-4032-9d59-27f2d1f8c65b.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/d52a4620-8d8c-4ce0-bc1c-5b881be05cd2.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/da94f67f-0a35-4337-9e36-a37a79bd3097.vsidx
BootcampApi/.vs/BootcampApi/DesignTimeBuild/.dtbcache.v2
BootcampApi/.vs/BootcampApi/FileContentIndex/277fe95f-801b-4337-ad24-a2b38022314d.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/28dccc21-190a-434c-ba7d-0688d11b6c3a.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/4b45c52a-60be-434c-a6f0-c9fa850b10ab.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/4d09f90b-a73d-4b56-803a-2697a82ae827.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/c22ed66d-4bd7-4c98-9687-b8a27ae8d06c.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/d84dc0ca-f9ec-4e8c-b749-f96d460cb8ad.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/ef3186f9-5b22-4416-8be0-e26e93099f74.vsidx
BootcampApi/.vs/BootcampApi/v17/.suo
BootcampApi/.vs/BootcampApi/v17/DocumentLayout.json
BootcampApi/Bootcamp.Clean.Api/bin/Debug/net8.0/appsettings.Development.json
BootcampApi/Bootcamp.Clean.Api/bin/Debug/net8.0/appsettings.json
BootcampApi/Bootcamp.Clean.Api/bin/Debug/net8.0/AutoMapper.dll
BootcampApi/Bootcamp.Clean.Api/bin/Debug/net8.0/Bootcamp.Clean.Api.deps.json
BootcampApi/Bootcamp.Clean.Api/bin/Debug/net8.0/Bootcamp.Clean.Api.dll
BootcampApi/Bootcamp.Clean.Api/bin/Debug/net8.0/Bootcamp.Clean.Api.exe
BootcampApi/Bootcamp.Clean.Api/bin/Debug/net8.0/Bootcamp.Clean.Api.pdb
BootcampApi/Bootcamp.Clean.Api/bin/Debug/net8.0/Bootcamp.Clean.Api.runtimeconfig.json
BootcampApi/Bootcamp.Clean.Api/bin/Debug/net8.0/Bootcamp.Clean.ApplicationService.dll
BootcampApi/Bootcamp.Clean.Api/bin/Debug/net8.0/Bootcamp.Clean.ApplicationService.pdb
BootcampApi/Bootcamp.Clean.Api/bin/Debug/net8.0/Bootcamp.Clean.Domain.dll
BootcampApi/Bootcamp.Clean.Api/bin/Debug/net8.0/Bootcamp.Clean.Domain.pdb
BootcampApi/Bootcamp.Clean.Api/bin/Debug/net8.0/Microsoft.OpenApi.dll
BootcampApi/Bootcamp.Clean.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
BootcampApi/Bootcamp.Clean.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
BootcampApi/Bootcamp.Clean.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
BootcampApi/Bootcamp.Clean.Api/obj/Bootcamp.Clean.Api.csproj.nuget.g.targets
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/apphost.exe
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/Bootcamp.3E65AFBC.Up2Date
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/Bootcamp.Clean.Api.AssemblyInfo.cs
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/Bootcamp.Clean.Api.AssemblyInfoInputs.cache
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/Bootcamp.Clean.Api.assets.cache
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/Bootcamp.Clean.Api.csproj.AssemblyReference.cache
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/Bootcamp.Clean.Api.csproj.CoreCompileInputs.cache
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/Bootcamp.Clean.Api.csproj.FileListAbsolute.txt
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/Bootcamp.Clean.Api.dll
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/Bootcamp.Clean.Api.GeneratedMSBuildEditorConfig.editorconfig
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/Bootcamp.Clean.Api.genruntimeconfig.cache
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/Bootcamp.Clean.Api.GlobalUsings.g.cs
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/Bootcamp.Clean.Api.MvcApplicationPartsAssemblyInfo.cache
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/Bootcamp.Clean.Api.MvcApplicationPartsAssemblyInfo.cs
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/Bootcamp.Clean.Api.pdb
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/Bootcamp.Clean.Api.sourcelink.json
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/ref/Bootcamp.Clean.Api.dll
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/refint/Bootcamp.Clean.Api.dll
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/staticwebassets.build.json
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/staticwebassets/msbuild.build.Bootcamp.Clean.Api.props
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Bootcamp.Clean.Api.props
BootcampApi/Bootcamp.Clean.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Bootcamp.Clean.Api.props
BootcampApi/Bootcamp.Clean.Api/obj/project.assets.json
BootcampApi/Bootcamp.Clean.Api/obj/project.nuget.cache
BootcampApi/Bootcamp.Clean.ApplicationService/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
BootcampApi/Bootcamp.Clean.ApplicationService/obj/Debug/net8.0/Bootcamp.1691F60A.Up2Date
BootcampApi/Bootcamp.Clean.ApplicationService/obj/Debug/net8.0/Bootcamp.Clean.ApplicationService.AssemblyInfo.cs
BootcampApi/Bootcamp.Clean.ApplicationService/obj/Debug/net8.0/Bootcamp.Clean.ApplicationService.AssemblyInfoInputs.cache
BootcampApi/Bootcamp.Clean.ApplicationService/obj/Debug/net8.0/Bootcamp.Clean.ApplicationService.assets.cache
BootcampApi/Bootcamp.Clean.ApplicationService/obj/Debug/net8.0/Bootcamp.Clean.ApplicationService.csproj.AssemblyReference.cache
BootcampApi/Bootcamp.Clean.ApplicationService/obj/Debug/net8.0/Bootcamp.Clean.ApplicationService.csproj.CoreCompileInputs.cache
BootcampApi/Bootcamp.Clean.ApplicationService/obj/Debug/net8.0/Bootcamp.Clean.ApplicationService.csproj.FileListAbsolute.txt
BootcampApi/Bootcamp.Clean.ApplicationService/obj/Debug/net8.0/Bootcamp.Clean.ApplicationService.dll
BootcampApi/Bootcamp.Clean.ApplicationService/obj/Debug/net8.0/Bootcamp.Clean.ApplicationService.GeneratedMSBuildEditorConfig.editorconfig
BootcampApi/Bootcamp.Clean.ApplicationService/obj/Debug/net8.0/Bootcamp.Clean.ApplicationService.GlobalUsings.g.cs
BootcampApi/Bootcamp.Clean.ApplicationService/obj/Debug/net8.0/Bootcamp.Clean.ApplicationService.pdb
BootcampApi/Bootcamp.Clean.ApplicationService/obj/Debug/net8.0/Bootcamp.Clean.ApplicationService.sourcelink.json
BootcampApi/Bootcamp.Clean.ApplicationService/obj/Debug/net8.0/ref/Bootcamp.Clean.ApplicationService.dll
BootcampApi/Bootcamp.Clean.ApplicationService/obj/Debug/net8.0/refint/Bootcamp.Clean.ApplicationService.dll
BootcampApi/Bootcamp.Clean.Domain/obj/Bootcamp.Clean.Domain.csproj.nuget.dgspec.json
BootcampApi/Bootcamp.Clean.Domain/obj/Bootcamp.Clean.Domain.csproj.nuget.g.props
BootcampApi/Bootcamp.Clean.Domain/obj/Bootcamp.Clean.Domain.csproj.nuget.g.targets
BootcampApi/Bootcamp.Clean.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
BootcampApi/Bootcamp.Clean.Domain/obj/Debug/net8.0/Bootcamp.Clean.Domain.AssemblyInfo.cs
BootcampApi/Bootcamp.Clean.Domain/obj/Debug/net8.0/Bootcamp.Clean.Domain.AssemblyInfoInputs.cache
BootcampApi/Bootcamp.Clean.Domain/obj/Debug/net8.0/Bootcamp.Clean.Domain.assets.cache
BootcampApi/Bootcamp.Clean.Domain/obj/Debug/net8.0/Bootcamp.Clean.Domain.csproj.CoreCompileInputs.cache
BootcampApi/Bootcamp.Clean.Domain/obj/Debug/net8.0/Bootcamp.Clean.Domain.csproj.FileListAbsolute.txt
BootcampApi/Bootcamp.Clean.Domain/obj/Debug/net8.0/Bootcamp.Clean.Domain.dll
BootcampApi/Bootcamp.Clean.Domain/obj/Debug/net8.0/Bootcamp.Clean.Domain.GeneratedMSBuildEditorConfig.editorconfig
BootcampApi/Bootcamp.Clean.Domain/obj/Debug/net8.0/Bootcamp.Clean.Domain.GlobalUsings.g.cs
BootcampApi/Bootcamp.Clean.Domain/obj/Debug/net8.0/Bootcamp.Clean.Domain.pdb
BootcampApi/Bootcamp.Clean.Domain/obj/Debug/net8.0/Bootcamp.Clean.Domain.sourcelink.json
BootcampApi/Bootcamp.Clean.Domain/obj/Debug/net8.0/ref/Bootcamp.Clean.Domain.dll
BootcampApi/Bootcamp.Clean.Domain/obj/Debug/net8.0/refint/Bootcamp.Clean.Domain.dll
BootcampApi/Bootcamp.Clean.Domain/obj/project.assets.json
BootcampApi/Bootcamp.Clean.Domain/obj/project.nuget.cache
BootcampApi/Bootcamp.Clean.Repository/obj/Bootcamp.Clean.Repository.csproj.nuget.dgspec.json
BootcampApi/Bootcamp.Clean.Repository/obj/Bootcamp.Clean.Repository.csproj.nuget.g.props
BootcampApi/Bootcamp.Clean.Repository/obj/Bootcamp.Clean.Repository.csproj.nuget.g.targets
BootcampApi/Bootcamp.Clean.Repository/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
BootcampApi/Bootcamp.Clean.Repository/obj/Debug/net8.0/Bootcamp.04ACF868.Up2Date
BootcampApi/Bootcamp.Clean.Repository/obj/Debug/net8.0/Bootcamp.Clean.Repository.AssemblyInfo.cs
BootcampApi/Bootcamp.Clean.Repository/obj/Debug/net8.0/Bootcamp.Clean.Repository.AssemblyInfoInputs.cache
BootcampApi/Bootcamp.Clean.Repository/obj/Debug/net8.0/Bootcamp.Clean.Repository.assets.cache
BootcampApi/Bootcamp.Clean.Repository/obj/Debug/net8.0/Bootcamp.Clean.Repository.csproj.AssemblyReference.cache
BootcampApi/Bootcamp.Clean.Repository/obj/Debug/net8.0/Bootcamp.Clean.Repository.csproj.CoreCompileInputs.cache
BootcampApi/Bootcamp.Clean.Repository/obj/Debug/net8.0/Bootcamp.Clean.Repository.csproj.FileListAbsolute.txt
BootcampApi/Bootcamp.Clean.Repository/obj/Debug/net8.0/Bootcamp.Clean.Repository.dll
BootcampApi/Bootcamp.Clean.Repository/obj/Debug/net8.0/Bootcamp.Clean.Repository.GeneratedMSBuildEditorConfig.editorconfig
BootcampApi/Bootcamp.Clean.Repository/obj/Debug/net8.0/Bootcamp.Clean.Repository.genruntimeconfig.cache
BootcampApi/Bootcamp.Clean.Repository/obj/Debug/net8.0/Bootcamp.Clean.Repository.GlobalUsings.g.cs
BootcampApi/Bootcamp.Clean.Repository/obj/Debug/net8.0/Bootcamp.Clean.Repository.pdb
BootcampApi/Bootcamp.Clean.Repository/obj/Debug/net8.0/Bootcamp.Clean.Repository.sourcelink.json
BootcampApi/Bootcamp.Clean.Repository/obj/Debug/net8.0/ref/Bootcamp.Clean.Repository.dll
BootcampApi/Bootcamp.Clean.Repository/obj/Debug/net8.0/refint/Bootcamp.Clean.Repository.dll
BootcampApi/Bootcamp.Clean.Repository/obj/project.assets.json
BootcampApi/Bootcamp.Clean.Repository/obj/project.nuget.cache
BootcampApi/Bootcamp.Repository/bin/Debug/net8.0/Bootcamp.Repository.dll
BootcampApi/Bootcamp.Repository/bin/Debug/net8.0/Bootcamp.Repository.pdb
BootcampApi/Bootcamp.Repository/bin/Debug/net8.0/Domain.dll
BootcampApi/Bootcamp.Repository/bin/Debug/net8.0/Domain.pdb
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.AssemblyInfo.cs
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.AssemblyInfoInputs.cache
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.csproj.AssemblyReference.cache
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.csproj.BuildWithSkipAnalyzers
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.dll
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.pdb
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.sourcelink.json
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/ref/Bootcamp.Repository.dll
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/refint/Bootcamp.Repository.dll
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Bootcamp.Repository.dll
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Bootcamp.Repository.pdb
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Bootcamp.Service.dll
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Bootcamp.Service.pdb
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Domain.dll
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Domain.pdb
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.AssemblyInfo.cs
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.AssemblyInfoInputs.cache
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.csproj.AssemblyReference.cache
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.csproj.BuildWithSkipAnalyzers
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.dll
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.pdb
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.sourcelink.json
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/ref/Bootcamp.Service.dll
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/refint/Bootcamp.Service.dll
BootcampApi/Bootcamp.Repository/bin/Debug/net8.0/Bootcamp.Repository.dll
BootcampApi/Bootcamp.Repository/bin/Debug/net8.0/Bootcamp.Repository.pdb
BootcampApi/Bootcamp.Repository/bin/Debug/net8.0/Domain.dll
BootcampApi/Bootcamp.Repository/bin/Debug/net8.0/Domain.pdb
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.AssemblyInfo.cs
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.AssemblyInfoInputs.cache
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.csproj.AssemblyReference.cache
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.dll
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.pdb
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.sourcelink.json
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/ref/Bootcamp.Repository.dll
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/refint/Bootcamp.Repository.dll
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Bootcamp.Repository.dll
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Bootcamp.Repository.pdb
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Bootcamp.Service.dll
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Bootcamp.Service.pdb
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Domain.dll
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Domain.pdb
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.AssemblyInfo.cs
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.AssemblyInfoInputs.cache
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.csproj.AssemblyReference.cache
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.dll
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.pdb
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.sourcelink.json
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/ref/Bootcamp.Service.dll
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/refint/Bootcamp.Service.dll
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Api.dll
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Api.exe
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Api.pdb
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Repository.dll
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Repository.pdb
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Service.dll
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Service.pdb
BootcampApi/BootcampApi/bin/Debug/net8.0/Domain.dll
BootcampApi/BootcampApi/bin/Debug/net8.0/Domain.pdb
BootcampApi/BootcampApi/obj/Debug/net8.0/apphost.exe
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.AssemblyInfo.cs
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.AssemblyInfoInputs.cache
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.csproj.AssemblyReference.cache
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.csproj.BuildWithSkipAnalyzers
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.dll
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.pdb
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.sourcelink.json
BootcampApi/BootcampApi/obj/Debug/net8.0/ref/Bootcamp.Api.dll
BootcampApi/BootcampApi/obj/Debug/net8.0/refint/Bootcamp.Api.dll
BootcampApi/Domain/bin/Debug/net8.0/Domain.dll
BootcampApi/Domain/bin/Debug/net8.0/Domain.pdb
BootcampApi/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
BootcampApi/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
BootcampApi/Domain/obj/Debug/net8.0/Domain.csproj.BuildWithSkipAnalyzers
BootcampApi/Domain/obj/Debug/net8.0/Domain.dll
BootcampApi/Domain/obj/Debug/net8.0/Domain.pdb
BootcampApi/Domain/obj/Debug/net8.0/Domain.sourcelink.json
BootcampApi/Domain/obj/Debug/net8.0/ref/Domain.dll
BootcampApi/Domain/obj/Debug/net8.0/refint/Domain.dll
BootcampApi/Domain/obj/Debug/net8.0/refint/Domain.dll
BootcampApi/Domain/obj/Debug/net8.0/ref/Domain.dll
BootcampApi/Domain/obj/Debug/net8.0/Domain.sourcelink.json
BootcampApi/Domain/obj/Debug/net8.0/Domain.pdb
BootcampApi/Domain/obj/Debug/net8.0/Domain.dll
BootcampApi/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
BootcampApi/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
BootcampApi/Domain/bin/Debug/net8.0/Domain.pdb
BootcampApi/Domain/bin/Debug/net8.0/Domain.dll
BootcampApi/BootcampApi/obj/Debug/net8.0/refint/Bootcamp.Api.dll
BootcampApi/BootcampApi/obj/Debug/net8.0/ref/Bootcamp.Api.dll
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.sourcelink.json
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.pdb
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.dll
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.csproj.AssemblyReference.cache
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.AssemblyInfoInputs.cache
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.AssemblyInfo.cs
BootcampApi/BootcampApi/obj/Debug/net8.0/apphost.exe
BootcampApi/BootcampApi/bin/Debug/net8.0/Domain.pdb
BootcampApi/BootcampApi/bin/Debug/net8.0/Domain.dll
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Service.pdb
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Service.dll
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Repository.pdb
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Repository.dll
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Api.pdb
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Api.exe
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Api.dll
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Api.dll
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Api.exe
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Api.pdb
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Repository.dll
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Repository.pdb
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Service.dll
BootcampApi/Bootcamp.Clean.Domain/bin/Debug/net8.0/Bootcamp.Clean.Domain.pdb
BootcampApi/Bootcamp.Clean.Domain/bin/Debug/net8.0/Bootcamp.Clean.Domain.dll
BootcampApi/Bootcamp.Clean.Domain/bin/Debug/net8.0/Bootcamp.Clean.Domain.deps.json
BootcampApi/Bootcamp.Clean.ApplicationService/obj/project.nuget.cache
BootcampApi/Bootcamp.Clean.ApplicationService/obj/project.assets.json
BootcampApi/Bootcamp.Clean.ApplicationService/obj/Bootcamp.Clean.ApplicationService.csproj.nuget.g.targets
BootcampApi/Bootcamp.Clean.ApplicationService/obj/Bootcamp.Clean.ApplicationService.csproj.nuget.g.props
BootcampApi/Bootcamp.Clean.ApplicationService/obj/Bootcamp.Clean.ApplicationService.csproj.nuget.dgspec.json
BootcampApi/Bootcamp.Clean.ApplicationService/bin/Debug/net8.0/Bootcamp.Clean.ApplicationService.deps.json
BootcampApi/Bootcamp.Clean.ApplicationService/bin/Debug/net8.0/Bootcamp.Clean.ApplicationService.dll
BootcampApi/Bootcamp.Clean.ApplicationService/bin/Debug/net8.0/Bootcamp.Clean.ApplicationService.pdb
BootcampApi/Bootcamp.Clean.ApplicationService/bin/Debug/net8.0/Bootcamp.Clean.Domain.dll
BootcampApi/Bootcamp.Clean.ApplicationService/bin/Debug/net8.0/Bootcamp.Clean.Domain.pdb
BootcampApi/Bootcamp.Clean.Api/obj/Bootcamp.Clean.Api.csproj.nuget.g.props
BootcampApi/Bootcamp.Clean.Api/obj/Bootcamp.Clean.Api.csproj.nuget.dgspec.json
BootcampApi/.vs/BootcampApi/FileContentIndex/c22ed66d-4bd7-4c98-9687-b8a27ae8d06c.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/277fe95f-801b-4337-ad24-a2b38022314d.vsidx
BootcampApi/.vs/BootcampApi/DesignTimeBuild/.dtbcache.v2
