
BootcampApi/Domain/obj/Debug/net8.0/refint/Domain.dll
BootcampApi/Domain/obj/Debug/net8.0/ref/Domain.dll
BootcampApi/Domain/obj/Debug/net8.0/Domain.sourcelink.json
BootcampApi/Domain/obj/Debug/net8.0/Domain.pdb
BootcampApi/Domain/obj/Debug/net8.0/Domain.dll
BootcampApi/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
BootcampApi/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
BootcampApi/Domain/bin/Debug/net8.0/Domain.pdb
BootcampApi/Domain/bin/Debug/net8.0/Domain.dll
BootcampApi/BootcampApi/obj/Debug/net8.0/refint/Bootcamp.Api.dll
BootcampApi/BootcampApi/obj/Debug/net8.0/ref/Bootcamp.Api.dll
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.sourcelink.json
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.pdb
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.dll
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.csproj.AssemblyReference.cache
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.AssemblyInfoInputs.cache
BootcampApi/BootcampApi/obj/Debug/net8.0/Bootcamp.Api.AssemblyInfo.cs
BootcampApi/BootcampApi/obj/Debug/net8.0/apphost.exe
BootcampApi/BootcampApi/bin/Debug/net8.0/Domain.pdb
BootcampApi/BootcampApi/bin/Debug/net8.0/Domain.dll
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Service.pdb
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Service.dll
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Repository.pdb
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Repository.dll
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Api.pdb
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Api.exe
BootcampApi/BootcampApi/bin/Debug/net8.0/Bootcamp.Api.dll
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/refint/Bootcamp.Service.dll
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/ref/Bootcamp.Service.dll
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.sourcelink.json
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.pdb
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.dll
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.csproj.AssemblyReference.cache
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.AssemblyInfoInputs.cache
BootcampApi/Bootcamp.Service/obj/Debug/net8.0/Bootcamp.Service.AssemblyInfo.cs
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Domain.pdb
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Domain.dll
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Bootcamp.Service.pdb
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Bootcamp.Service.dll
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Bootcamp.Repository.pdb
BootcampApi/Bootcamp.Service/bin/Debug/net8.0/Bootcamp.Repository.dll
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/refint/Bootcamp.Repository.dll
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/ref/Bootcamp.Repository.dll
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.sourcelink.json
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.pdb
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.dll
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.csproj.AssemblyReference.cache
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.AssemblyInfoInputs.cache
BootcampApi/Bootcamp.Repository/obj/Debug/net8.0/Bootcamp.Repository.AssemblyInfo.cs
BootcampApi/Bootcamp.Repository/bin/Debug/net8.0/Domain.pdb
BootcampApi/Bootcamp.Repository/bin/Debug/net8.0/Domain.dll
BootcampApi/Bootcamp.Repository/bin/Debug/net8.0/Bootcamp.Repository.pdb
BootcampApi/Bootcamp.Repository/bin/Debug/net8.0/Bootcamp.Repository.dll
BootcampApi/.vs/BootcampApi/v17/DocumentLayout.json
BootcampApi/.vs/BootcampApi/v17/.suo
BootcampApi/.vs/BootcampApi/FileContentIndex/e31f8043-9c86-41e7-a6fe-f66a2c3d8367.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/da94f67f-0a35-4337-9e36-a37a79bd3097.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/d52a4620-8d8c-4ce0-bc1c-5b881be05cd2.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/afb34e62-551f-4db0-8b8e-fbf86239abfd.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/9610c135-f510-4132-8f29-eeec6c11758e.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/6922fc06-b237-4032-9d59-27f2d1f8c65b.vsidx
BootcampApi/.vs/BootcampApi/DesignTimeBuild/.dtbcache.v2
BootcampApi/.vs/BootcampApi/DesignTimeBuild/.dtbcache.v2
BootcampApi/.vs/BootcampApi/FileContentIndex/6922fc06-b237-4032-9d59-27f2d1f8c65b.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/d52a4620-8d8c-4ce0-bc1c-5b881be05cd2.vsidx
BootcampApi/.vs/BootcampApi/FileContentIndex/da94f67f-0a35-4337-9e36-a37a79bd3097.vsidx
